---
layout: default
title: Hector Zarate. iOS Cowboy. 
---
<header>
        <h1><a href="/">Hector Zarate</a> <small><a href="http://twitter.com/iOSCowboy">@iOSCowboy</a> | <a href="https://pl.linkedin.com/in/hecktorzr/">LinkedIn</a></small></h1> 
			<!-- About -->
			<div id="about">
		         I bring a debuger and a text-editor to my gunfights. 
                 I don't know how to ride a horse but I do wear blue jeans. Pretty much a cowboy from the smart-phone era.
			</div>
		</header>

		<hr />

		<div id="main" role="main">
{% for post in paginator.posts %}
			<div class="post">

				<h2><a href="{{ post.url }}">{{ post.title }}</a> <small>Published {{ post.date | date_to_string }}</small></h2>
				
				<div class="entry">
                    {{ post.content }}
                </div>
			
			</div>
            <hr />
{% endfor %}

<h2>Previous Posts</h2>
<ul class="unstyled">
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small> </li>
{% endfor %}
</ul>
